<!--
<div [ngClass]="{'w-16': collapsed, 'w-64': !collapsed}" class="sidebar flex flex-col gap-2 overflow-auto">
    <div class="flex w-full flex-col p-2">
        <div class="flex h-12 items-center font-semibold text-lg px-4">
            <span *ngIf="!collapsed">Admin Panel</span>
        </div>

        <ul class="flex flex-col gap-2 mt-2">
            <li>
                <a [routerLink]="'/dashboard'" class="flex items-center gap-3 p-2 rounded hover:bg-gray-700">
                    <fa-icon [icon]="faHome" class="w-4 h-4"></fa-icon>
                    <span *ngIf="!collapsed">Dashboard</span>
                </a>
            </li>
            <li>
                <a [routerLink]="'/profile-student'" class="flex items-center gap-3 p-2 rounded hover:bg-gray-700">
                    <fa-icon [icon]="faFolder" class="w-4 h-4"></fa-icon>
                    <span *ngIf="!collapsed">profile-student</span>
                </a>
            </li>
            <li>
                <a [routerLink]="'/categories'" class="flex items-center gap-3 p-2 rounded hover:bg-gray-700">
                    <fa-icon [icon]="faFolder" class="w-4 h-4"></fa-icon>
                    <span *ngIf="!collapsed">Categories</span>
                </a>
            </li>
            <li>
                <a [routerLink]="'/certificate'" class="flex items-center gap-3 p-2 rounded hover:bg-gray-700">
                    <fa-icon [icon]="faCertificate" class="w-4 h-4"></fa-icon>
                    <span *ngIf="!collapsed">Certificate</span>
                </a>
            </li>
            <li>
                <a [routerLink]="'/posts'" class="flex items-center gap-3 p-2 rounded hover:bg-gray-700">
                    <fa-icon [icon]="faFileAlt" class="w-4 h-4"></fa-icon>
                    <span *ngIf="!collapsed">Posts</span>
                </a>
            </li>
            <li>
                <a [routerLink]="'/comments'" class="flex items-center gap-3 p-2 rounded hover:bg-gray-700">
                    <fa-icon [icon]="faComment" class="w-4 h-4"></fa-icon>
                    <span *ngIf="!collapsed">Comments</span>
                </a>
            </li>
            <li>
                <a [routerLink]="'/likes'" class="flex items-center gap-3 p-2 rounded hover:bg-gray-700">
                    <fa-icon [icon]="faHeart" class="w-4 h-4"></fa-icon>
                    <span *ngIf="!collapsed">Likes</span>
                </a>
            </li>
            <li>
                <a [routerLink]="'/materials'" class="flex items-center gap-3 p-2 rounded hover:bg-gray-700">
                    <fa-icon [icon]="faBox" class="w-4 h-4"></fa-icon>
                    <span *ngIf="!collapsed">Materials</span>
                </a>
            </li>
            <li>
                <a [routerLink]="'/diamonds'" class="flex items-center gap-3 p-2 rounded hover:bg-gray-700">
                    <fa-icon [icon]="faGem" class="w-4 h-4"></fa-icon>
                    <span *ngIf="!collapsed">Diamond System</span>
                </a>
            </li>
            <li>
                <a [routerLink]="'/payments'" class="flex items-center gap-3 p-2 rounded hover:bg-gray-700">
                    <fa-icon [icon]="faCreditCard" class="w-4 h-4"></fa-icon>
                    <span *ngIf="!collapsed">Payments</span>
                </a>
            </li>
            <li>
                <a [routerLink]="'/projects'" class="flex items-center gap-3 p-2 rounded hover:bg-gray-700">
                    <fa-icon [icon]="faBriefcase" class="w-4 h-4"></fa-icon>
                    <span *ngIf="!collapsed">Projects</span>
                </a>
            </li>
            <li>
                <a [routerLink]="'/report'" class="flex items-center gap-3 p-2 rounded hover:bg-gray-700">
                    <fa-icon [icon]="faFileAlt" class="w-4 h-4"></fa-icon>
                    <span *ngIf="!collapsed">Report</span>
                </a>
            </li>
            <li>
                <a [routerLink]="'/skill'" class="flex items-center gap-3 p-2 rounded hover:bg-gray-700">
                    <fa-icon [icon]="faStar" class="w-4 h-4"></fa-icon>
                    <span *ngIf="!collapsed">Skill</span>
                </a>
            </li>
            <li>
                <a [routerLink]="'/social-media'" class="flex items-center gap-3 p-2 rounded hover:bg-gray-700">
                    <fa-icon [icon]="faShareAlt" class="w-4 h-4"></fa-icon>
                    <span *ngIf="!collapsed">Social Media</span>
                </a>
            </li>
            <li>
                <a [routerLink]="'/id-verification'" class="flex items-center gap-3 p-2 rounded hover:bg-gray-700">
                    <fa-icon [icon]="faIdCard" class="w-4 h-4"></fa-icon>
                    <span *ngIf="!collapsed">ID Verification</span>
                </a>
            </li>
            <li>
                <a [routerLink]="'/feedback'" class="flex items-center gap-3 p-2 rounded hover:bg-gray-700">
                    <fa-icon [icon]="faCommentDots" class="w-4 h-4"></fa-icon>
                    <span *ngIf="!collapsed">Feedback</span>
                </a>
            </li>
        </ul>
    </div>
</div>
-->