<section class="flex w-full min-h-screen bg-gray-50 dark:bg-gray-900 ">
    <div [ngClass]="{
        'fixed inset-0 z-50 transform transition-transform duration-300': isMobile(),
        '-translate-x-full': isMobile() && !isSidebarOpen,

        'w-7': !isSidebarOpen && !isMobile(),
        'w-60': isSidebarOpen || isMobile()
      }" class="bg-white dark:bg-gray-800 shadow-lg transition-all duration-300 flex-shrink-0">
        <app-sidebar [collapsed]="!isSidebarOpen"></app-sidebar>
    </div>

    <div *ngIf="isSidebarOpen && isMobile()" class="fixed inset-0 bg-black/40 z-40" (click)="toggleSidebar()"></div>

    <main [ngClass]="{
      'ml-0 w-full': isMobile(),

      'ml-9 w-[calc(100%-2rem)]': !isSidebarOpen && !isMobile(),   
      'ml-5 w-[calc(100%-14rem)]': isSidebarOpen && !isMobile()   
    }" class="flex flex-col transition-all duration-300  overflow-auto">

        <app-admin-header [isDarkMode]="isDarkMode" (toggleSidebarEvent)="toggleSidebar()"
            (toggleDarkModeEvent)="toggleDarkMode()">
        </app-admin-header>

        <div class="px-12">
            <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mt-4 mb-3">
                <h1 class="text-xl font-bold text-gray-800 mb-3 dark:text-white">{{ tr('DIAMOND_OFFERS') }}</h1>
                <button routerLink="/admin/diamond-offers/create"
                    class="flex items-center gap-2 bg-blue-600 text-white text-center px-4 py-2 rounded hover:bg-blue-700 transition transform hover:scale-105">
                    {{ tr('ADD_NEW_OFFER') }}
                </button>
            </div>

            <div class="overflow-x-auto bg-white dark:bg-gray-800 shadow rounded-lg mt-4">
                <table class="w-full text-left border border-gray-300 dark:border-gray-700">
                    <thead>
                        <tr class="bg-gray-200 dark:bg-gray-800 text-gray-700 dark:text-gray-200">
                            <th class="px-6 py-3">{{ tr('OFFER_NAME') }}</th>
                            <th class="px-6 py-3">{{ tr('PRICE_USD') }}</th>
                            <th class="px-6 py-3">{{ tr('DIAMONDS_COUNT') }}</th>
                            <th class="px-6 py-3">{{ tr('ACTIONS') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let offer of offers"
                            class="text-gray-800 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors duration-200 transform hover:scale-[1.01]">
                            <td class="border px-6 py-3">{{ offer.title }}</td>
                            <td class="border px-6 py-3">{{ offer.price | currency:'USD' }}</td>
                            <td class="border px-6 py-3">{{ offer.diamondAmount }}</td>
                            <td class="border px-6 py-3 space-x-2 flex items-center">
                                <!-- Edit Button -->
                                <a [routerLink]="['/admin/diamonds/edit', offer.diamondPackageId]"
                                    class="px-4 py-2 rounded-lg bg-blue-500 text-white font-medium shadow hover:bg-blue-600 hover:scale-105 transition-transform duration-200 ease-in-out">
                                    {{ tr('EDIT') }}
                                </a>

                                <!-- Delete Button -->
                                <button (click)="deleteOffer(offer.diamondPackageId)"
                                    class="px-4 py-2 rounded-lg bg-red-500 text-white font-medium shadow hover:bg-red-600 hover:scale-105 transition-transform duration-200 ease-in-out">
                                    {{ tr('DELETE') }}
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="offers.length === 0">
                            <td colspan="5" class="text-center py-4">{{ tr('NO_OFFERS') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</section>